#etabProfil {
	display:none;
}

#premier {
	/* position:static; */
	/* display:block; */
	/* margin:0 auto; */
	
	margin: 0px auto;
	float: none;
	display: table;
}

.erreur {
	color: #FF0000;
}

.tabInscription {
	margin-left:3%;
}

.formCentre {
	/* margin: auto; */
	/* display:block; */
	
	/* margin: 0px auto; */
	/* float: none; */
	/* display: table; */
	
	left:50%;
}

#formConnexion {
	display:none;
}

#administrateur {
	display:none;
}

#avantAlign {
	margin-left:10%;
	margin-right:5%;
}


