body {
	/* background-image: url("../images/bg.jpg"); */
	/* word-wrap: break-word; */
}


#etabProfil {
	display:none;
}

#premier {
	/* position:static; */
	/* display:block; */
	/* margin:0 auto; */
	
	margin: 0px auto;
	float: none;
	display: table;
}

.erreur {
	color: #FF0000;
}

.tabInscription {
	margin-left:3%;
}

.details {
	margin-left:10%;
}

.formCentre {
	/* margin: auto; */
	/* display:block; */
	
	/* margin: 0px auto; */
	/* float: none; */
	/* display: table; */
	
	left:50%;
}

#formConnexion {
	display:none;
}

#administrateur {
	display:none;
}

#avantAlign {
	margin-left:10%;
	margin-right:5%;
}

table {
	width: 90%;
	border-collapse:collapse; 
	margin:2% auto;
}

table th, table td {
	/* padding:1%; */
	padding: 8px;
	border: 1px solid #ddd;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

/*  */
